  body {
    background: #0a0a0a;
    color: white;
    font-family: sans-serif;
  }
  /* NAV */
  nav {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 18px 60px;
    background-color: #0a0a0a;
    border-bottom: 1px solid #222222;
  }
  .nav-logo {
    font-family:'Space Mono', monospace;
    font-size: 25px;
    color: #e8ff5a;
  }
  .nav-links {
    display: flex;
    gap: 36px;
    list-style: none;
  }
  .nav-links a {
    color: #888888;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .nav-links a:hover { color: #e8ff5a; }
  
  /* HOME */
  #home {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  .tag {
    font-family: 'Space Mono', ;
    font-size: 20px;
    color: #e8ff5a;
    text-transform: uppercase;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeUp 0.6s 0.2s forwards;
  }
  .name {
    font-family: 'Space Mono', monospace;
    font-size: 50px;
    font-weight: 700;
    opacity: 0;
    animation: fadeUp 0.6s 0.4s forwards;
  }
  .sub {
    margin-top: 20px;
    font-size: 20px;
    color: #888888;
    font-weight: 300;
    max-width: 480px;
    opacity: 0;
    animation: fadeUp 0.6s 0.6s forwards;
    padding: 20px ;
  } 
  .profile-wrap {
    opacity: 0;
    padding-left: 30px;
    animation: fadeIn 0.8s 0.5s forwards;
  }
  .profile-img {
    width: 500px;
    border-radius: 30%;
    border: 2px solid #222222;
    transition: filter 0.3s;
  }

  .social-icons a {
    color: var(--grey-mid);
    font-size: 24px;
    margin-left: 20px;
    transition: opacity 0.3s ease;
    opacity: 0.7;
}

.social-icons a:hover {
    opacity: 1;
}

  /* SECTIONS */
  section {
    padding: 90px 60px;
    max-width: 1100px;
    margin: 0 auto;
  }
  .section-label {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: #e8ff5a;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  .section-title {
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    margin-bottom: 50px;
    color: white;
  }
  .divider {
    width: 100%;
    height: 3px;
    background: #121212;
    margin: 0 60px;
  }
  /* ABOUT */
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: start;
  }
  .about-text {
    font-size: 20px;
    color: #b0b0b0;
    line-height: 1.85;
    font-weight: 300;
  }
  .about-text b {
    color: white;
    font-weight: 600;
  }
  .info-card {
    background:  #111111;
    border: 1px solid #222222;
    border-radius: 12px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .info-row {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .info-key {
    font-family: 'Space Mono', monospace;
    font-size: 0.65rem;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 0.12em;
  }
  .info-val {
    font-size: 0.95rem;
    color: white;
    font-weight: 500;
  }
  .cert-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .cert-card {
    display: flex;
    align-items: center;
    gap: 24px;
    background:  #111111;
    border: 1px solid #222222;
    border-radius: 12px;
    padding: 24px 28px;
    transition: border-color 0.3s;
  }
  .cert-info h3 {
    font-size: 0.95rem;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .cert-info p {
    font-size: 0.8rem;
    color: #888888;
    font-family: 'Space Mono', monospace;
  }
  /* SKILLS */
.main-badges{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    align-content: normal;
    font-size: large;
    
  }
  .badge {
    border: 1px solid #222222;
    padding: 6px 14px;
    color:white;
    font-family:cursive;
  } 
  /* CERTIFICATES */
  .certi{
    margin-right: 20px;   
  }
  /* PROJECTS */
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .project-card {
    background:  #111111;
    border: 1px solid #222222;
    border-radius: 12px;
    padding: 32px;
    transition: border-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
  }
.project-card a{
  color: aliceblue;
}
  .project-card::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 2px;
    background: linear-gradient(90deg, #e8ff5a, transparent);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .project-card:hover {
    border-color: #333;
    transform: translateY(-4px);
  }
  .project-card:hover::before { opacity: 1; }
.project-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 12px;
  }
  .project-desc {
    font-size: 0.85rem;
    color: #888888;
    line-height: 1.6;
  }
  /* CONTACT / FOOTER */
  .contact-section {
    background:  #111111;
    border-top: 1px solid #222222;
    padding: 80px 60px;
    text-align: center;
  }
  .contact-sub {
    color: #888888;
    font-size: 0.95rem;
    margin-bottom: 40px;
  }
  .contact-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  .contact-item {
    background: #1a1a1a;
    border: 1px solid #222222;
    border-radius: 10px;
    padding: 16px 24px;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
  }
  .contact-item:hover {
    border-color: #e8ff5a;  
  }
  footer {
    text-align: center;
    padding: 24px 60px;
    background: black;
    border-top: 1px solid #222222;
    font-family: 'Space Mono', monospace;
    font-size: 0.7rem;
    color: #444;
    position: sticky;
    bottom: 0px;
  }
  
  /* ANIMATIONS */
  @keyframes fadeUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  /* RESPONSIVE */
  @media (max-width: 768px) {
    nav { padding: 16px 24px; }
    .nav-links { gap: 20px; }
    #home, section { padding: 90px 24px 60px; }
    .hero-grid { grid-template-columns: 1fr; gap: 30px; }
    .profile-wrap { display: none; }
    .about-grid { grid-template-columns: 1fr; }
    .skills-grid { grid-template-columns: 1fr 1fr; }
    .projects-grid { grid-template-columns: 1fr; }
    .divider { margin: 0 24px; max-width: calc(100% - 48px); }
  }